<div class="px-[50px] py-[50px] container w-full max-w-none bg-[#F8F9FC]">
  <nav
    *ngIf="step !== 0"
    class="mb-[30px] w-full flex justify-start gap-[30px] text-[18px] bg-[#213E4C] py-[10px] px-[20px] rounded-[10px] text-white"
  >
    <button (click)="navTo(1)" class="flex gap-[10px] hover:underline">
      <div class="w-[24px] h-[24px] flex justify-center items-center rounded-full bg-white">
        <img *ngIf="step > 1" src="assets/svg/check.svg" alt="" />
        <img *ngIf="step == 1" src="assets/svg/uncheck.svg" alt="" />
      </div>
      О клиенте
    </button>

    <button (click)="navTo(2)" class="flex gap-[10px] hover:underline">
      <div class="w-[24px] h-[24px] flex justify-center items-center rounded-full bg-white">
        <img *ngIf="step > 2" src="assets/svg/check.svg" alt="" />
        <img *ngIf="step == 2" src="assets/svg/uncheck.svg" alt="" />
      </div>
      Качественный показатель
    </button>
    <button (click)="navTo(3)" class="flex gap-[10px] hover:underline">
      <div class="w-[24px] h-[24px] flex justify-center items-center rounded-full bg-white">
        <img *ngIf="step > 3" src="assets/svg/check.svg" alt="" />
        <img *ngIf="step == 3" src="assets/svg/uncheck.svg" alt="" />
      </div>
      Качественный показатель
    </button>
    <button (click)="navTo(4)" class="flex gap-[10px] hover:underline">
      <div class="w-[24px] h-[24px] flex justify-center items-center rounded-full bg-white">
        <img *ngIf="step > 4" src="assets/svg/check.svg" alt="" />
        <img *ngIf="step == 4" src="assets/svg/uncheck.svg" alt="" />
      </div>
      Отчет о прибылях и убытках (ОПиУ)
    </button>
  </nav>
  <header class=""><h2>Информация о потенциальном клиенте</h2></header>
  <div class="w-full max-w-none bg-white shadow p-[30px] rounded-[10px] relative">
    <form class="form">
      <div class="" *ngIf="step == 1">
        <h2>О клиенте</h2>
        <ul class="input_list grid grid-cols-4 gap-[20px]">
          <li class="input_list-item">
            <div class="input-box">
              <label>ИНН</label>
              <input type="number" [formControl]="scoringForm.total_inf.client_info.inn" placeholder="Ведите ИНН" required />
            </div>
          </li>

          <li class="input_list-item">
            <div class="input-box">
              <label>Фамилия</label>
              <input type="text" [formControl]="scoringForm.total_inf.client_info.last_name" placeholder="Фамилия" required />
            </div>
          </li>

          <li class="input_list-item">
            <div class="input-box">
              <label>Имя</label>
              <input type="text" [formControl]="scoringForm.total_inf.client_info.first_name" placeholder="Имя" required />
            </div>
          </li>

          <li class="input_list-item">
            <div class="input-box">
              <label>Отчетство</label>
              <input type="text" [formControl]="scoringForm.total_inf.client_info.middle_name" placeholder="Отчетство" />
            </div>
          </li>

          <li class="input_list-item">
            <div class="input-box">
              <label>Номер телефона</label>
              <input type="text" [formControl]="scoringForm.total_inf.client_info.phone_number" placeholder="+996 700 00 00 00" required />
            </div>
          </li>

          <li class="input_list-item">
            <div class="input-box">
              <label class="title_input">Название банка партнера</label>
              <select required [formControl]="scoringForm.total_inf.bank_info.bank_name" required>
                <option *ngFor="let bList of banklist" [ngValue]="bList.value">{{ bList.text }}</option>
              </select>
            </div>
          </li>

          <li class="input_list-item">
            <div class="input-box">
              <label>Филиал банка:</label>
              <input type="text" [formControl]="scoringForm.total_inf.bank_info.bank_branch" placeholder="Филиал банка" required />
            </div>
          </li>

          <li class="input_list-item grid-full grid grid-cols-4 gap-[20px]">
            <h3 class="grid-full">Куратор по кредиту</h3>
            <div class="input-box">
              <label>Фамилия:</label>
              <input
                type="text"
                [formControl]="scoringForm.total_inf.bank_info.bank_loan_manager.first_name"
                placeholder="Фамилия"
                required
              />
            </div>

            <div class="input-box">
              <label>Имя:</label>
              <input type="text" [formControl]="scoringForm.total_inf.bank_info.bank_loan_manager.middle_name" placeholder="Имя" required />
            </div>

            <div class="input-box">
              <label>Отчетство</label>
              <input type="text" [formControl]="scoringForm.total_inf.bank_info.bank_loan_manager.last_name" placeholder="Отчетство" />
            </div>

            <div class="input-box">
              <label>Номер телефона:</label>
              <input
                type="text"
                [formControl]="scoringForm.total_inf.bank_info.bank_loan_manager.phone_number"
                placeholder="+996500112233"
                required
              />
            </div>
          </li>

          <li class="input_list-item grid-full grid grid-cols-4 gap-[20px]">
            <h3 class="grid-full">Финансовые данные от банка</h3>

            <div class="input-box">
              <label>Сумма гарантии:</label>
              <input
                type="number"
                [formControl]="scoringForm.total_inf.financial_data_from_bank.guarantee_amount"
                placeholder="Сумма гарантии банка"
                required
              />
            </div>

            <div class="input-box">
              <label>Сумма финансирования:</label>
              <input
                type="number"
                [formControl]="scoringForm.total_inf.financial_data_from_bank.funding_amount"
                placeholder="Сумма финансирования"
                required
              />
            </div>

            <div class="input-box">
              <label>Процентная ставка:</label>
              <input
                type="text"
                [formControl]="scoringForm.total_inf.financial_data_from_bank.interest_rate"
                placeholder="Процентная ставка"
                required
              />
            </div>

            <div class="input-box">
              <label>Цель финансирования:</label>
              <input
                type="text"
                [formControl]="scoringForm.total_inf.financial_data_from_bank.purpose_funding"
                placeholder="Цель финансирования"
                required
              />
            </div>

            <div class="input-box">
              <label class="title_input">Вид деятельности</label>
              <select required [formControl]="scoringForm.total_inf.financial_data_from_bank.kind_of_business" required>
                <option *ngFor="let bList of vid_deyat" [ngValue]="bList.value">{{ bList.text }}</option>
              </select>
            </div>
          </li>
        </ul>
      </div>
      <div class="form_group flex flex-col" *ngIf="step == 2">
        <h2 class="">Качественный показатель</h2>
        <ul class="input_list w-full grid grid-cols-4 gap-[20px]">
          <li class="input_list-item">
            <div class="input-box">
              <label>Срок работы бизнеса (мес)</label>
              <input
                type="number"
                [formControl]="scoringForm.quality_indicator.business_lifespan"
                placeholder="Введите срок бизнеса"
                required
              />
            </div>
          </li>

          <li class="input_list-item">
            <div class="input-box">
              <label>Срок патента (мес)</label>
              <input type="number" [formControl]="scoringForm.quality_indicator.term_has_patent" placeholder="0" required />
            </div>
          </li>

          <li class="input_list-item">
            <div class="input-box">
              <label class="title_input">Кредитная история супруги(а) клиента</label>
              <select required [formControl]="scoringForm.quality_indicator.credit_history_of_spouse">
                <option *ngFor="let bList of repaiment_status" [ngValue]="bList.value">{{ bList.text }}</option>
              </select>
            </div>
          </li>
          <div class="grid-full">
            <div class="col-2 flex gap-[8px]">
              <input
                class="w-[24px] h-[24px]"
                placeholder="Соотношение между собственным и арендованным имуществом"
                type="number"
                id="debt_to_budget"
                type="checkbox"
                [formControl]="scoringForm.quality_indicator.debt_to_budget"
              />
              <label class="font-semibold" for="debt_to_budget">Задолжность перед бюджетом</label>
            </div>
          </div>
          <hr class="grid-full my-[25px]" />
          <li class="input_list-item grid-full grid grid-cols-4">
            <h3 class="grid-full mb-[30px]">Коммерческое имущество</h3>
            <div>
              <div class="flex gap-[8px]">
                <input
                  class="w-[24px] h-[24px]"
                  type="checkbox"
                  id="id_1"
                  [formControl]="scoringForm.quality_indicator.commercial_property.own_property"
                />
                <label for="id_1" class="font-semibold">Собственное</label>
              </div>
            </div>
            <div>
              <div class="flex gap-[8px]">
                <input
                  class="w-[24px] h-[24px]"
                  type="checkbox"
                  id="id_2"
                  [formControl]="scoringForm.quality_indicator.commercial_property.rented_property"
                />
                <label for="id_2" class="font-semibold">Арендованное</label>
              </div>
            </div>
            <div class="input-box col-2">
              <label>Соотношение между собственным и арендованным имуществом</label>
              <input
                placeholder="Соотношение между собственным и арендованным имуществом"
                type="number"
                [formControl]="scoringForm.quality_indicator.commercial_property.own_property_percentage"
              />
            </div>
          </li>
          <hr class="grid-full my-[25px]" />
          <li class="input_list-item">
            <div>
              <div class="flex gap-[8px]">
                <input id="id_3" type="checkbox" class="w-[24px] h-[24px]" [formControl]="scoringForm.quality_indicator.own_property" />
                <label for="id_3" class="font-semibold">Собственное имущество</label>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="form_group" *ngIf="step == 3">
        <h2>Финансовые данные</h2>

        <ul class="input_list flex flex-col gap-[30px]">
          <li class="input_list-item grid grid-cols-4 gap-[20px] p-[30px] outline outline-[1px] outline-[#E7EDFB] rounded-[10px]">
            <div class="bg-[#E7EDFB] rounded-[10px] input-box grid-full flex py-[14px] justify-center items-center mb-[25px]">
              <h1 class="p-0 text-[24px] text-[#0C2044] font-bold">Первая дата</h1>
            </div>
            <div class="input-box">
              <label>Баланс</label>
              <input type="date" [formControl]="scoringForm.financial_data.balance.first_date.date" required />
            </div>
            <div class="active grid-full">
              <div class="working_assets flex flex-col gap-[20px]">
                <h2 class="text-center">Активы <br />Оборотный капитал</h2>
                <div class="liquid_funds grid grid-cols-4 gap-[20px]">
                  <h3 class="grid-full">Ликвидные средства</h3>
                  <div class="input-box">
                    <label>Касса</label>
                    <input
                      type="number"
                      [formControl]="scoringForm.financial_data.balance.first_date.active.working_assets.liquid_funds.cash_box"
                      placeholder="Ликвидные средства"
                    />
                  </div>

                  <div class="input-box">
                    <label>Расчетный счет</label>
                    <input
                      type="number"
                      [formControl]="scoringForm.financial_data.balance.first_date.active.working_assets.liquid_funds.bank_account"
                      placeholder="Расчетный счет"
                    />
                  </div>

                  <div class="input-box">
                    <label>Сбережения</label>
                    <input
                      type="number"
                      [formControl]="scoringForm.financial_data.balance.first_date.active.working_assets.liquid_funds.conservation"
                      placeholder="Сбережения"
                    />
                  </div>
                </div>
                <div class="accounts_receivable grid grid-cols-4 gap-[20px]">
                  <h3 class="grid-full">Дебиторская задолжность</h3>
                  <div class="input-box">
                    <label>Счета к получению</label>
                    <input
                      type="number"
                      [formControl]="
                        scoringForm.financial_data.balance.first_date.active.working_assets.accounts_receivable.check_to_receive
                      "
                      placeholder="Счета к получению"
                    />
                  </div>

                  <div class="input-box">
                    <label>Предоплата за товар</label>
                    <input
                      type="number"
                      [formControl]="
                        scoringForm.financial_data.balance.first_date.active.working_assets.accounts_receivable.prepayment_to_product
                      "
                      placeholder="Предоплата за товар"
                    />
                  </div>

                  <div class="input-box">
                    <label>Выданные авансы</label>
                    <input
                      type="number"
                      [formControl]="
                        scoringForm.financial_data.balance.first_date.active.working_assets.accounts_receivable.paid_prepaid_expense
                      "
                      placeholder="Выданные авансы"
                    />
                  </div>

                  <div class="inventories grid-full grid grid-cols-4 gap-[20px]">
                    <h3 class="grid-full">Товарно-материальные запасы</h3>
                    <div class="input-box">
                      <label>Товары в торговом зале и на складе</label>
                      <input
                        type="number"
                        [formControl]="scoringForm.financial_data.balance.first_date.active.working_assets.inventories.first"
                        placeholder="Товары в торговом зале и на складе"
                      />
                    </div>

                    <div class="input-box">
                      <label>Товары, полученные на реализацию</label>
                      <input
                        type="number"
                        [formControl]="scoringForm.financial_data.balance.first_date.active.working_assets.inventories.second"
                        placeholder="Товары, полученные на реализацию"
                      />
                    </div>

                    <div class="input-box">
                      <label>Товары в пути</label>
                      <input
                        type="number"
                        [formControl]="scoringForm.financial_data.balance.first_date.active.working_assets.inventories.third"
                        placeholder="Товары в пути"
                      />
                    </div>

                    <div class="input-box">
                      <label>Сырье и материалы</label>
                      <input
                        type="number"
                        [formControl]="scoringForm.financial_data.balance.first_date.active.working_assets.inventories.fourth"
                        placeholder="Сырье и материалы"
                      />
                    </div>

                    <div class="input-box">
                      <label>Полуфабрикаты</label>
                      <input
                        type="number"
                        [formControl]="scoringForm.financial_data.balance.first_date.active.working_assets.inventories.five"
                        placeholder="Полуфабрикаты"
                      />
                    </div>

                    <div class="input-box">
                      <label>Готовая продукция</label>
                      <input
                        type="number"
                        [formControl]="scoringForm.financial_data.balance.first_date.active.working_assets.inventories.six"
                        placeholder="Готовая продукция"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="main_capital grid grid-cols-4 gap-[20px] py-[20px]">
                <h3 class="grid-full">Основной капитал</h3>
                <div class="input-box">
                  <label>Недвижимость</label>
                  <input
                    type="number"
                    [formControl]="scoringForm.financial_data.balance.first_date.active.main_capital.property"
                    placeholder="Стоимость недвижимость"
                  />
                </div>

                <div class="input-box">
                  <label>Оборудование</label>
                  <input
                    type="number"
                    [formControl]="scoringForm.financial_data.balance.first_date.active.main_capital.equipment"
                    placeholder="Стоимость оборудования"
                  />
                </div>

                <div class="input-box">
                  <label>Транспорт</label>
                  <input
                    type="number"
                    [formControl]="scoringForm.financial_data.balance.first_date.active.main_capital.vehicle"
                    placeholder="Стоимость транспорта"
                  />
                </div>

                <div class="input-box">
                  <label>Прочее</label>
                  <input
                    type="number"
                    [formControl]="scoringForm.financial_data.balance.first_date.active.main_capital.other"
                    placeholder="Прочее"
                  />
                </div>

                <div class="input-box">
                  <label>Инвестиции</label>
                  <input
                    type="number"
                    [formControl]="scoringForm.financial_data.balance.first_date.active.main_capital.investments"
                    placeholder="Стоимость инвестиций"
                  />
                </div>
              </div>
            </div>
            <hr class="grid-full my-[25px]" />
            <div class="passive flex flex-col gap-[20px] grid-full">
              <div class="borrowed_capital">
                <div class="short_term_debt grid grid-cols-4 gap-[20px]">
                  <h2 class="grid-full text-center">
                    Пассивы <br />
                    Краткосрончые заемы
                  </h2>
                  <div class="credit grid grid-full grid-cols-4 gap-[20px]">
                    <div class="input-box">
                      <label>Кредит клиента</label>
                      <input
                        type="number"
                        [formControl]="scoringForm.financial_data.balance.first_date.passive.borrowed_capital.short_term_debt.credit.client"
                        placeholder="Кредит / займы клиента"
                      />
                    </div>
                    <div class="input-box">
                      <label>Кредит супруга(и)</label>
                      <input
                        type="number"
                        [formControl]="scoringForm.financial_data.balance.first_date.passive.borrowed_capital.short_term_debt.credit.spouse"
                        placeholder="Кредит / займы супруга(и)"
                      />
                    </div>
                  </div>
                  <div class="input-box">
                    <label>Счета к оплате за товар, услуги</label>
                    <input
                      type="number"
                      [formControl]="
                        scoringForm.financial_data.balance.first_date.passive.borrowed_capital.short_term_debt.account_for_occasion
                      "
                      placeholder="Счета за товар"
                    />
                  </div>

                  <div class="input-box">
                    <label>Товарный кредит</label>
                    <input
                      type="number"
                      [formControl]="scoringForm.financial_data.balance.first_date.passive.borrowed_capital.short_term_debt.trade_credit"
                      placeholder="Товарный кредит"
                    />
                  </div>

                  <div class="input-box">
                    <label>Предоплата от покупателей</label>
                    <input
                      type="number"
                      [formControl]="
                        scoringForm.financial_data.balance.first_date.passive.borrowed_capital.short_term_debt.prepayment_from_customer
                      "
                      placeholder="Предоплата от покупателей"
                    />
                  </div>

                  <div class="input-box">
                    <label>Расчеты с бюджетом</label>
                    <input
                      type="number"
                      [formControl]="
                        scoringForm.financial_data.balance.first_date.passive.borrowed_capital.short_term_debt.settlements_with_budget
                      "
                      placeholder="Расчеты с бюджетом"
                    />
                  </div>

                  <div class="input-box">
                    <label>Расчеты по внебюджетным платежам</label>
                    <input
                      type="number"
                      [formControl]="
                        scoringForm.financial_data.balance.first_date.passive.borrowed_capital.short_term_debt.off_budget_payments
                      "
                      placeholder="Расчеты по внебюджетным платежам"
                    />
                  </div>

                  <div class="input-box">
                    <label>Прочая</label>
                    <input
                      type="number"
                      [formControl]="scoringForm.financial_data.balance.first_date.passive.borrowed_capital.short_term_debt.other"
                      placeholder="Прочие расходы"
                    />
                  </div>
                </div>
                <div class="long_term_debt grid-full grid grid-cols-4 gap-[20px]">
                  <h3 class="grid-full pt-[20px]">Долгосрочные заемы</h3>
                  <div class="input-box">
                    <label>Долгосрочные заемы</label>
                    <input
                      type="Активы"
                      [formControl]="scoringForm.financial_data.balance.first_date.passive.borrowed_capital.long_term_debt"
                      placeholder="Введите срок бизнеса"
                    />
                  </div>
                </div>
              </div>

              <div class="own_capital grid grid-cols-4 gap-[20px]">
                <div class="input-box">
                  <label>Устанвый капитал (стартовый)</label>
                  <input
                    type="number"
                    [formControl]="scoringForm.financial_data.balance.first_date.passive.own_capital.statutory_capital_startup"
                    placeholder="Введите срок бизнеса"
                  />
                </div>
                <div class="input-box">
                  <label>Собственный капитал (прибыль)</label>
                  <input
                    type="number"
                    [formControl]="scoringForm.financial_data.balance.first_date.passive.own_capital.own_capital_profit"
                    placeholder="Введите срок бизнеса"
                  />
                </div>
              </div>
              <div class="grid-full grid grid-cols-4 gap-[20px]">
                <div class="input-box">
                  <label>Валюта баланса</label>
                  <input type="number" placeholder="Валюта баланса" disabled />
                </div>
              </div>
            </div>
          </li>

          <li class="input_list-item grid grid-cols-4 gap-[20px] p-[30px] outline outline-[1px] outline-[#E7EDFB] rounded-[10px]">
            <div class="bg-[#E7EDFB] rounded-[10px] input-box grid-full flex py-[14px] justify-center items-center mb-[25px]">
              <h1 class="p-0 text-[24px] text-[#0C2044] font-bold">Вторая дата</h1>
            </div>
            <div class="input-box">
              <label>Баланс</label>
              <input type="date" [formControl]="scoringForm.financial_data.balance.second_date.date" required />
            </div>
            <div class="active grid-full">
              <div class="working_assets flex flex-col gap-[20px]">
                <h2 class="text-center">Активы <br />Оборотный капитал</h2>
                <div class="liquid_funds grid grid-cols-4 gap-[20px]">
                  <h3 class="grid-full">Ликвидные средства</h3>
                  <div class="input-box">
                    <label>Касса</label>
                    <input
                      type="number"
                      [formControl]="scoringForm.financial_data.balance.second_date.active.working_assets.liquid_funds.cash_box"
                      placeholder="Ликвидные средства"
                    />
                  </div>

                  <div class="input-box">
                    <label>Расчетный счет</label>
                    <input
                      type="number"
                      [formControl]="scoringForm.financial_data.balance.second_date.active.working_assets.liquid_funds.bank_account"
                      placeholder="Расчетный счет"
                    />
                  </div>

                  <div class="input-box">
                    <label>Сбережения</label>
                    <input
                      type="number"
                      [formControl]="scoringForm.financial_data.balance.second_date.active.working_assets.liquid_funds.conservation"
                      placeholder="Сбережения"
                    />
                  </div>
                </div>
                <div class="accounts_receivable grid grid-cols-4 gap-[20px]">
                  <h3 class="grid-full">Дебиторская задолжность</h3>
                  <div class="input-box">
                    <label>Счета к получению</label>
                    <input
                      type="number"
                      [formControl]="
                        scoringForm.financial_data.balance.second_date.active.working_assets.accounts_receivable.check_to_receive
                      "
                      placeholder="Счета к получению"
                    />
                  </div>

                  <div class="input-box">
                    <label>Предоплата за товар</label>
                    <input
                      type="number"
                      [formControl]="
                        scoringForm.financial_data.balance.second_date.active.working_assets.accounts_receivable.prepayment_to_product
                      "
                      placeholder="Предоплата за товар"
                    />
                  </div>

                  <div class="input-box">
                    <label>Выданные авансы</label>
                    <input
                      type="number"
                      [formControl]="
                        scoringForm.financial_data.balance.second_date.active.working_assets.accounts_receivable.paid_prepaid_expense
                      "
                      placeholder="Выданные авансы"
                    />
                  </div>

                  <div class="inventories grid-full grid grid-cols-4 gap-[20px]">
                    <h3 class="grid-full">Товарно-материальные запасы</h3>
                    <div class="input-box">
                      <label>Товары в торговом зале и на складе</label>
                      <input
                        type="number"
                        [formControl]="scoringForm.financial_data.balance.second_date.active.working_assets.inventories.first"
                        placeholder="Товары в торговом зале и на складе"
                      />
                    </div>

                    <div class="input-box">
                      <label>Товары, полученные на реализацию</label>
                      <input
                        type="number"
                        [formControl]="scoringForm.financial_data.balance.second_date.active.working_assets.inventories.second"
                        placeholder="Товары, полученные на реализацию"
                      />
                    </div>

                    <div class="input-box">
                      <label>Товары в пути</label>
                      <input
                        type="number"
                        [formControl]="scoringForm.financial_data.balance.second_date.active.working_assets.inventories.third"
                        placeholder="Товары в пути"
                      />
                    </div>

                    <div class="input-box">
                      <label>Сырье и материалы</label>
                      <input
                        type="number"
                        [formControl]="scoringForm.financial_data.balance.second_date.active.working_assets.inventories.fourth"
                        placeholder="Сырье и материалы"
                      />
                    </div>

                    <div class="input-box">
                      <label>Полуфабрикаты</label>
                      <input
                        type="number"
                        [formControl]="scoringForm.financial_data.balance.second_date.active.working_assets.inventories.five"
                        placeholder="Полуфабрикаты"
                      />
                    </div>

                    <div class="input-box">
                      <label>Готовая продукция</label>
                      <input
                        type="number"
                        [formControl]="scoringForm.financial_data.balance.second_date.active.working_assets.inventories.six"
                        placeholder="Готовая продукция"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="main_capital grid grid-cols-4 gap-[20px] py-[20px]">
                <h3 class="grid-full">Основной капитал</h3>
                <div class="input-box">
                  <label>Недвижимость</label>
                  <input
                    type="number"
                    [formControl]="scoringForm.financial_data.balance.second_date.active.main_capital.property"
                    placeholder="Стоимость недвижимость"
                  />
                </div>

                <div class="input-box">
                  <label>Оборудование</label>
                  <input
                    type="number"
                    [formControl]="scoringForm.financial_data.balance.second_date.active.main_capital.equipment"
                    placeholder="Стоимость оборудования"
                  />
                </div>

                <div class="input-box">
                  <label>Транспорт</label>
                  <input
                    type="number"
                    [formControl]="scoringForm.financial_data.balance.second_date.active.main_capital.vehicle"
                    placeholder="Стоимость транспорта"
                  />
                </div>

                <div class="input-box">
                  <label>Прочее</label>
                  <input
                    type="number"
                    [formControl]="scoringForm.financial_data.balance.second_date.active.main_capital.other"
                    placeholder="Прочее"
                  />
                </div>

                <div class="input-box">
                  <label>Инвестиции</label>
                  <input
                    type="number"
                    [formControl]="scoringForm.financial_data.balance.second_date.active.main_capital.investments"
                    placeholder="Стоимость инвестиций"
                  />
                </div>
              </div>
            </div>
            <hr class="grid-full my-[25px]" />
            <div class="passive flex flex-col gap-[20px] grid-full">
              <div class="borrowed_capital">
                <div class="short_term_debt grid grid-cols-4 gap-[20px]">
                  <h2 class="grid-full text-center">
                    Пассивы <br />
                    Краткосрончые заемы
                  </h2>
                  <div class="credit grid grid-full grid-cols-4 gap-[20px]">
                    <div class="input-box">
                      <label>Кредит клиента</label>
                      <input
                        type="number"
                        [formControl]="
                          scoringForm.financial_data.balance.second_date.passive.borrowed_capital.short_term_debt.credit.client
                        "
                        placeholder="Кредит / займы клиента"
                      />
                    </div>
                    <div class="input-box">
                      <label>Кредит супруга(и)</label>
                      <input
                        type="number"
                        [formControl]="
                          scoringForm.financial_data.balance.second_date.passive.borrowed_capital.short_term_debt.credit.spouse
                        "
                        placeholder="Кредит / займы супруга(и)"
                      />
                    </div>
                  </div>
                  <div class="input-box">
                    <label>Счета к оплате за товар, услуги</label>
                    <input
                      type="number"
                      [formControl]="
                        scoringForm.financial_data.balance.second_date.passive.borrowed_capital.short_term_debt.account_for_occasion
                      "
                      placeholder="Счета за товар"
                    />
                  </div>

                  <div class="input-box">
                    <label>Товарный кредит</label>
                    <input
                      type="number"
                      [formControl]="scoringForm.financial_data.balance.second_date.passive.borrowed_capital.short_term_debt.trade_credit"
                      placeholder="Товарный кредит"
                    />
                  </div>

                  <div class="input-box">
                    <label>Предоплата от покупателей</label>
                    <input
                      type="number"
                      [formControl]="
                        scoringForm.financial_data.balance.second_date.passive.borrowed_capital.short_term_debt.prepayment_from_customer
                      "
                      placeholder="Предоплата от покупателей"
                    />
                  </div>

                  <div class="input-box">
                    <label>Расчеты с бюджетом</label>
                    <input
                      type="number"
                      [formControl]="
                        scoringForm.financial_data.balance.second_date.passive.borrowed_capital.short_term_debt.settlements_with_budget
                      "
                      placeholder="Расчеты с бюджетом"
                    />
                  </div>

                  <div class="input-box">
                    <label>Расчеты по внебюджетным платежам</label>
                    <input
                      type="number"
                      [formControl]="
                        scoringForm.financial_data.balance.second_date.passive.borrowed_capital.short_term_debt.off_budget_payments
                      "
                      placeholder="Расчеты по внебюджетным платежам"
                    />
                  </div>

                  <div class="input-box">
                    <label>Прочая</label>
                    <input
                      type="number"
                      [formControl]="scoringForm.financial_data.balance.second_date.passive.borrowed_capital.short_term_debt.other"
                      placeholder="Прочие расходы"
                    />
                  </div>
                </div>
                <div class="long_term_debt grid-full grid grid-cols-4 gap-[20px]">
                  <h3 class="grid-full pt-[20px]">Долгосрочные заемы</h3>
                  <div class="input-box">
                    <label>Долгосрочные заемы</label>
                    <input
                      type="Активы"
                      [formControl]="scoringForm.financial_data.balance.second_date.passive.borrowed_capital.long_term_debt"
                      placeholder="Введите срок бизнеса"
                    />
                  </div>
                </div>
              </div>

              <div class="own_capital grid grid-cols-4 gap-[20px]">
                <div class="input-box">
                  <label>Устанвый капитал (стартовый)</label>
                  <input
                    type="number"
                    [formControl]="scoringForm.financial_data.balance.second_date.passive.own_capital.statutory_capital_startup"
                    placeholder="Введите срок бизнеса"
                  />
                </div>
                <div class="input-box">
                  <label>Собственный капитал (прибыль)</label>
                  <input
                    type="number"
                    [formControl]="scoringForm.financial_data.balance.second_date.passive.own_capital.own_capital_profit"
                    placeholder="Введите срок бизнеса"
                  />
                </div>
              </div>
              <div class="grid-full grid grid-cols-4 gap-[20px]">
                <div class="input-box">
                  <label>Валюта баланса</label>
                  <input type="number" placeholder="Валюта баланса" disabled />
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="form_group" *ngIf="step == 4">
        <h2>Отчет о прибылях и убытках (ОПиУ)</h2>

        <div class="OPiU">
          <div class="grid grid-cols-4 gap-[20px]">
            <div
              class="used_kind_busines_id"
              *ngFor="
                let opiuUsedKindOfBusinessIndex = index;
                let opiuUsedKindBusiness;
                of: scoringForm.financial_data.OPiU.used_kind_business_ident
              "
            >
              <!-- <select [formControl]="opiuUsedKindBusiness.used_kind_business_id"> -->
              <div class="input-box min-w-[320px]">
                <label for="">Отрасль</label>
                <select class="" [formControl]="scoringForm.financial_data.OPiU.used_kind_business_ident[0].used_kind_business_id">
                  <option *ngFor="let vid of vid_deyat" [ngValue]="vid.value">{{ vid.text }}</option>
                </select>
              </div>
            </div>
            <div
              class="input-box min-w-[320px]"
              *ngIf="
                scoringForm.financial_data.OPiU.used_kind_business_ident[0].used_kind_business_id.value === 0 ||
                scoringForm.financial_data.OPiU.used_kind_business_ident[0].used_kind_business_id.value === 2
              "
            >
              <label>ТМЗ (%)</label>
              <input type="number" [formControl]="scoringForm.financial_data.OPiU.trade_margin_percentage" />
            </div>
          </div>

          <div class="OPiUDataContiner p-[20px] outline outline-[1px] outline-[#E7EDFB] mt-[30px] rounded-[10px]">
            <div
              class="opiuData grid grid-cols-4 gap-[20px]"
              *ngFor="let opiuData of scoringForm.financial_data.OPiU.OPiUData; let opiuDataIndex = index"
            >
              <div class="bg-[#E7EDFB] rounded-[10px] input-box grid-full flex py-[14px] justify-center items-center">
                <h1 class="p-0 text-[24px] text-[#0C2044] font-bold">Месяц {{ opiuDataIndex + 1 }}</h1>
              </div>

              <div class="input-box">
                <label>Дата</label>
                <input type="date" [formControl]="opiuData.date" />
              </div>

              <div
                class="mutable_data grid-full grid gap-[20px]"
                *ngFor="let mutableDataIndex = index; let mutData; of: opiuData.mutable_data"
              >
                <div class="grid grid-cols-4 gap-[20px]">
                  <div class="input-box min-w-[0px]">
                    <label>Выручка</label>
                    <input type="number" [formControl]="mutData.revenue" />
                  </div>
                </div>

                <div class="overheads grid-full grid grid-cols-4 gap-[20px]">
                  <div class="input-box">
                    <label>Электричество</label>
                    <input type="number" [formControl]="mutData.overheads.electricity" />
                  </div>
                  <div class="input-box">
                    <label>Транспортные расходы</label>
                    <input type="number" [formControl]="mutData.overheads.car_payments" />
                  </div>
                  <div class="input-box">
                    <label>Налоги</label>
                    <input type="number" [formControl]="mutData.overheads.taxes" />
                  </div>
                  <div class="input-box">
                    <label>Заработная плата</label>
                    <input type="number" [formControl]="mutData.overheads.salary" />
                  </div>
                  <div class="input-box">
                    <label>ГСМ</label>
                    <input type="number" [formControl]="mutData.overheads.GSM" />
                  </div>
                  <div class="input-box">
                    <label>Питание</label>
                    <input type="number" [formControl]="mutData.overheads.food" />
                  </div>
                  <div class="input-box">
                    <label>Аренда</label>
                    <input type="number" [formControl]="mutData.overheads.rent" />
                  </div>
                </div>
              </div>

              <div class="input-box">
                <label>Семейные расходы</label>
                <input type="number" [formControl]="opiuData.family_expenses" />
              </div>

              <div class="input-box">
                <label>Дополнительные доходы</label>
                <input type="number" [formControl]="opiuData.additional_income" />
              </div>
              <hr class="grid-full my-[25px]" />
              <div class="loan_payments grid-full flex flex-col gap-[20px] justify-start">
                <div class="loan_installment" *ngFor="let loanPayment of opiuData.loan_installment; let loanInstlIndex = index">
                  <div class="input-box w-full">
                    <label>Взнос по кредиту</label>
                    <div class="flex">
                      <input type="number" class="min-w-[300px]" [formControl]="loanPayment" />
                      <button
                        class="flex items-center justify-center p-[10px]"
                        type="button"
                        (click)="removeLoanInstallmentInput(opiuDataIndex, loanInstlIndex)"
                      >
                        <img src="assets/svg/trash.svg" alt="" />
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid-full flex justify-between mb-[40px]">
                <button class="font-bold text-[#164579]" type="button" (click)="addLoanInstallmentInput(opiuDataIndex)">
                  + Добавить кредитный взнос
                </button>
                <button
                  class="bg-red-600 text-white px-[25px] py-[14px] rounded-[10px]"
                  type="button"
                  (click)="removeOpiuData(opiuDataIndex)"
                >
                  Удалить месяц
                </button>
              </div>
            </div>
          </div>
          <button type="button" class="font-bold text-[#164579] mt-[15px]" (click)="addOpiuData()">+ Добавить месяц</button>
        </div>
      </div>

      <div id="pdfTable" class="form_group" *ngIf="res && step === 0" #pdfTable>
        <div class="result" style="overflow: auto">
          <!-- <div class="overflow_container" style="overflow: auto;"> -->

          <ul class="item_OPu pb-[30px]">
            <li class="item_OPiU">
              <p class="opacity-50">Информация для:</p>

              <p class="text-[20px] font-bold">{{ userData }}</p>
            </li>
          </ul>
          <!-- </div> -->
          <h2>ОПиУ</h2>

          <ul class="item_OPu">
            <li class="item_OPiU">
              <p>Коэффициент ликвидности: {{ res["balance"]["liquid_coefficient"] }}</p>
            </li>
            <li class="item_OPiU">
              <p>Доля собственного капитала: {{ res["balance"]["percent_of_own_capital"] }}%</p>
            </li>
            <li class="item_OPiU">
              <p>
                Соотношение между суммой собст. капиталла и суммой кредита:
                {{ res["balance"]["ratio_between_own_capital_and_amount_credit"] }}%
              </p>
            </li>
            <li class="item_OPiU">
              <p>Доля заемного капитала (на момент анализа): {{ res["balance"]["ratio_borrowed_capital"] }}%</p>
            </li>
          </ul>
          <br />
          <br />
          <h3>Период</h3>
          <ul class="OPiU" *ngFor="let balance of res['OPiU']['period']">
            <li class="item_OPiU">
              <p>Дата: {{ balance["Naming"] }}</p>
              <p>Выручка: {{ balance["revenue"] }}</p>
              <p>Себестоимость: {{ balance["cost_price"] }}</p>
              <p>Валовая прибыль: {{ balance["gross_profit"] }}</p>
              <p>Накладные расходы: {{ balance["overheads"] }}</p>
              <p>Прибыль по бизнесу: {{ balance["business_profit"] }}</p>
              <p>Семейные расходы: {{ balance["family_expenses"] }}</p>
              <p>Дополнительные доходы: {{ balance["additional_income"] }}</p>
              <p>Чистая прибыль: {{ balance["pure_profit"] }}</p>
              <p>Взнос по кредиту: {{ balance["loan_installment"] }}</p>
              <p>Остаток: {{ balance["balance_amount"] }}</p>
              <p>Коэффициент покрытия взноса свободными денежными средствами (ПОДУШКА): {{ balance["pillow"] }}</p>
            </li>
          </ul>
          <br />
          <br />
          <h3>Среднее ОПиУ</h3>
          <ul class="OPiU">
            <li class="item_OPiU">
              <h4>Среднее</h4>
              <p>Среднее значение: {{ res["OPiU"]["mean"]["Naming"] }}</p>
              <p>Выручка: {{ res["OPiU"]["mean"]["revenue"] }}</p>
              <p>Себестоимость: {{ res["OPiU"]["mean"]["cost_price"] }}</p>
              <p>Валовая прибыль: {{ res["OPiU"]["mean"]["gross_profit"] }}</p>
              <p>Накладные расходы: {{ res["OPiU"]["mean"]["overheads"] }}</p>
              <p>Прибыль по бизнесу: {{ res["OPiU"]["mean"]["business_profit"] }}</p>
              <p>Семейные расходы: {{ res["OPiU"]["mean"]["family_expenses"] }}</p>
              <p>Дополнительные доходы: {{ res["OPiU"]["mean"]["additional_income"] }}</p>
              <p>Чистая прибыль: {{ res["OPiU"]["mean"]["pure_profit"] }}</p>
              <p>Взнос по кредиту: {{ res["OPiU"]["mean"]["loan_installment"] }}</p>
              <p>Остаток: {{ res["OPiU"]["mean"]["balance_amount"] }}</p>
              <p>Коэффициент покрытия взноса свободными денежными средствами (ПОДУШКА): {{ res["OPiU"]["mean"]["pillow"] }}</p>
            </li>
          </ul>
          <br />
          <br />
          <h3>Общяя сумма ОПиУ</h3>
          <ul class="OPiU">
            <li class="item_OPiU">
              <h4>Полная информация</h4>
              <p>Полная информация: {{ res["OPiU"]["full"]["Naming"] }}</p>
              <p>Выручка: {{ res["OPiU"]["full"]["revenue"] }}</p>
              <p>Себестоимость: {{ res["OPiU"]["full"]["cost_price"] }}</p>
              <p>Валовая прибыль: {{ res["OPiU"]["full"]["gross_profit"] }}</p>
              <p>Накладные расходы: {{ res["OPiU"]["full"]["overheads"] }}</p>
              <p>Прибыль по бизнесу: {{ res["OPiU"]["full"]["business_profit"] }}</p>
              <p>Семейные расходы: {{ res["OPiU"]["full"]["family_expenses"] }}</p>
              <p>Дополнительные доходы: {{ res["OPiU"]["full"]["additional_income"] }}</p>
              <p>Чистая прибыль: {{ res["OPiU"]["full"]["pure_profit"] }}</p>
              <p>Взнос по кредиту: {{ res["OPiU"]["full"]["loan_installment"] }}</p>
              <p>Остаток: {{ res["OPiU"]["full"]["balance_amount"] }}</p>
              <p>Коэффициент покрытия взноса свободными денежными средствами (ПОДУШКА): {{ res["OPiU"]["full"]["pillow"] }}</p>
            </li>
          </ul>
          <br />
          <br />
          <h2>Оценка</h2>
          <p>Баллы: {{ res["result"]["points"] }}</p>
          <p>Статус: {{ res["result"]["status"] }}</p>
          <p>Рейтинг: {{ res["result"]["rating"] }}</p>
        </div>
      </div>
    </form>
    <div class="buttons pt-[30px] w-full flex justify-end gap-[20px]">
      <button
        *ngIf="step !== 0"
        (click)="testSumbmit()"
        class="px-[25px] py-[14px] outline outline-[2px] outline-[#872779] text-[#872779] font-bold rounded-[10px]"
      >
        Симулировать запрос (Для проверки фронта)
      </button>
      <button *ngIf="step > 1" (click)="scrolPrev()" class="px-[25px] py-[14px] outline outline-[1px] rounded-[10px] outline-[#213E4C]">
        Назад
      </button>
      <button *ngIf="step < 4 && step !== 0" (click)="scrolNext()" class="px-[25px] py-[14px] rounded-[10px] bg-[#213E4C] text-white">
        Вперед
      </button>
      <button *ngIf="step !== 0 && step == 4" (click)="onSumbit()" class="px-[25px] py-[14px] bg-green-700 text-white rounded-[10px]">
        Расчитать
      </button>

      <button
        *ngIf="step === 0"
        (click)="downloadAsPDF()"
        class="px-[25px] py-[14px] outline outline-[1.5px] outline-[#213E4C] rounded-[10px] flex gap-[8px] hover:bg-sky-100 absolute top-0 right-0 m-[30px]"
      >
        <img src="assets/svg/download.svg" class="w-[24px] h-[24px]" alt="" srcset="" /> Загрузить Копию
      </button>
    </div>
  </div>
</div>

<div
  *ngIf="notValid"
  class="fixed text-[#0C2044] top-10 left-[50%] -translate-x-[50%] px-[30px] py-[15px] shadow-lg bg-yellow-300 rounded-[5px] font-bold my-animation"
>
  ⚠️ Заполните правильно форму...
</div>
